@import "tailwindcss";

@layer base {}

:root {
  background-color: black;
  color: white;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}